html{
    background-image: url(imagem/Foxy\ safado.webp);
    background-size: cover;
    background-repeat: no-repeat;

}

h1{
    color: white;
}

p{
    color: brown;

}

label{
    color: yellow;

}

@media (min-width: 700px) and (max-width: 1000px){
    body{
       padding: 30px;
    }}
    
    h1{
       font-size: 43;
    }
    
    p{
        font-size: 58px;
    }
    
    @media (min-width: 699px) and (max-width: 820px){
        body{
            padding: 30px;
        }
        
        h1{
            font-size: 40px;
        }
        
        p{
            font-size: 58%;
        }
    }

    input{
       font-size: 230%;
    }